.resume-container {
    padding: 20px 30px;
}

.underline {
    text-decoration: underline;
}

.inline {
    display: inline-block;
}

.italic {
    font-style: italic;
}

.flex {
    display: inline-flex;
    align-items: center;
}

.resume-name {
    display: flex;
    justify-content: center;
}

.resume-email-phone {
    display: flex;
    justify-content: center;
}

.resume-email-phone > h3 {
    margin-left: 15px;
} 

.resume-links {
    display: flex;
    justify-content: center;
}

.resume-links > div {
    margin-left: 15px;
}


.resume-summaryState {
    margin-top: 10px;
}

.resume-summaryState > p {
    margin-top: 10px;
}



.resume-workExperience {
    margin-top: 10px;
}

.resume-workExperience > h4, p {
    margin-top: 5px;
}



.resume-education {
    margin-top: 10px;
}

.resume-education > h4, p {
    margin-top: 5px;
}

.resume-skills {
    margin-top: 10px;
}

.resume-skills div {
    margin-top: 5px;
}

.resume-skills p {
    margin-left: 5px;
}


.resume-certifications {
    margin-top: 10px;
}

.resume-certifications span {
    margin-left: 5px;
}

